.rating-form {
    display: flex;
    flex-direction: column;

    &__image {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    &__title {
        margin-top: 3rem;
        margin-bottom: 0.7rem;
    }

    &__buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        row-gap: 0.5rem;
        flex-wrap: wrap;
        margin-top: 2.4rem;
        margin-bottom: 3.2rem;
    }
}